<%- include('dashboard'); -%>
<html>
<head>
    <title>Display</title>
    <style>
        table{margin: 0px auto; width:1000px; text-align: center;}
        th{padding: 10px;}
    </style>
</head>
<body>

<%  console.log("Iam in ejs"+ docs);   %>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Reporting Manager</th>
            <th>Project Name</th>
            <th>Created by</th>
            <th>Created Date</th>
            <th>Status</th>


        </tr>
        <% for (var i=0; i<docs.length; i++) { %>
            <tr>
                <td><%= i %></td>
                <td><%= docs[i].TaskName %></td>
                <td><%= docs[i].TaskDescription %></td>
                <td><%= docs[i].ReportingManager %></td>
                <td><%= docs[i].Projectname %></td>
                <td><%= docs[i].CreatedBy %></td>
                <td><%= docs[i].CreateDate %></td>
                <td><%= docs[i].Status %></td>
               


              
            
            </tr>

        <% } %>
    </table>
</body>
        </html>