
<html>
<head>
    <title>Display</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>


        .table{text-align: center;}
        th{padding: 10px;}
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">DSR-APP</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="../addDSR/<%= docs[1].Userid %>">Add DSR</a></li>
            <li  class="active"><a href="/DisplayDSR/<%- -%>">Display DSR</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>

<%  console.log("Iam in ejs"+ docs);   %>
    <table  class="table table-hover" border="1">
        <tr>
            <th scope="col" >Index</th>
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th scope="col">Reporting Manager</th>
            <th scope="col">Project Name</th>
            <th scope="col">Created by</th>
            <th scope="col">Created Date</th>
            <th scope="col">Status</th>


        </tr>
        <% for (var i=0; i<docs.length; i++) { %>
            <tr>
                
                <td scope="row"><%= i %></td>
                <td><%= docs[i].TaskName %></td>
                <td><%= docs[i].TaskDescription %></td>
                <td><%= docs[i].ReportingManager %></td>
                <td><%= docs[i].Projectname %></td>
                <td><%= docs[i].CreatedBy %></td>
                <td><%= docs[i].CreateDate %></td>
                <td><%= docs[i].Status %></td>
               
                    

              
            
            </tr>

        <% } %>
    </table>
</body>
        </html>